# Project exclude paths
/atcrowdfunding01-admin-parent/atcrowdfunding02-admin-webui/target/
/atcrowdfunding01-admin-parent/atcrowdfunding03-admin-component/target/
/atcrowdfunding01-admin-parent/atcrowdfunding04-admin-entity/target/